<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8" />
    <title></title>
    <table id="field" class="field-table"></table>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./styles.css" />
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="server.js"></script>
    <script src="field.js"></script>
</body>

</html>